@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Regular";
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro Regular", sans-serif;
  background-color: #292929;
  color: #fff;
  margin: 0;
}

.header {
  padding-top: 50px;
}

.text-color-red {
  font-family: "Gotham Pro Medium";
  color: #ff3469;
}

.header-description {
  font-family: "Gotham Pro Light";
  letter-spacing: 0.12px;
  font-size: 12px;
  min-height: 39px;
}

.header-contacts {
  text-align: right;
}

.header-phone {
  display: block;
  font-family: "Gotham Pro Medium";
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.header-info {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
}

.callback {
  display: block;
  letter-spacing: 0.16px;
  font-size: 16px;
  font-weight: 400;
  color: #ff3469;
  margin-top: 16px;
}

.hero {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 77px;
  border-bottom: 1px solid #4c4c4c;
}

.hero-title {
  font-family: "Gotham Pro Medium";
  font-size: 34px;
  margin: auto;
  margin-bottom: 34px;
  text-transform: uppercase;
  letter-spacing: 0.34px;
  max-width: 652px;
}

.hero-description {
  font-family: "Gotham Pro Light";
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.18px;
  margin: auto;
  max-width: 590px;
}

.hero-cta {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 36px;
  font-family: "Gotham Pro Light";
}

.flowers-slider {
  width: 100%;
  margin-bottom: 83px;
  margin-top: 87px;
}

:root {
  --swiper-navigation-size: 18px;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background-color: #ff2e55;
  padding: 30px 65px 26px;
  margin-top: 36px;
  cursor: pointer;
  border: none;
}

.review-slider {
  margin-top: 100px;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 50px;
}

.review-slide {
  padding-left: 60px;
  padding-right: 60px;
}

.review-image {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: "Gotham Pro Light";
  position: relative;
  margin-right: 50px;
}

.review-image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.review-image > * {
  position: relative;
}

.review-name {
  margin-bottom: 7px;
}

.review-image-1 {
  background: #000 url("../img/reviews/review-1.jpg");
}

.review-image-2 {
  background: #000 url("../img/reviews/review-2.jpg");
}

.review-text {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.18px;
}

.review-link {
  color: #f24841;
}

.section-title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3;
  margin-bottom: 100px;
}

.advantages {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid #4c4c4c;
}

.advantages-wrapper {
  min-height: 85px;
  margin-bottom: 30px;
}

.advantages-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.4;
  max-width: 270px;
  margin: auto;
}

.goods {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-description {
  font-size: 18px;
  text-align: center;
}

.card {
  text-align: center;
  border: 3px solid #fff;
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
}

.card-titile {
  margin-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card-label {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}

.color-label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -10;
}

.color-label.white {
  background-color: #fff;
}

.color-label.biege {
  background-color: #f7b496;
}

.color-label.pink {
  background-color: #ed366e;
}

.color-label.red {
  background-color: #ff0000;
}

.color-label.blue {
  background-color: #12129d;
}

.counter-input {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  background-color: #292929;
  margin: 0 15px;
}

.counter-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #292929;
  border: none;
}

.card-button {
  font-size: 14px;
  width: 100%;
  padding: 16px 10px 13px 10px;
}

.more {
  font-size: 14px;
  color: #f24841;
  display: block;
  text-align: center;
  margin-top: 39px;
  padding: 10px;
}

.more:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 4px;
  background: url("../img/caret.svg") no-repeat center;
  margin-left: 14px;
  vertical-align: middle;
}

.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1a1a1a;
  text-align: center;
}

.offer-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 30px;
  margin-bottom: 65px;
}

.offer-label {
  display: block;
  margin-bottom: 22px;
  font-size: 14px;
}

.offer-phone {
  font-size: 36px;
  text-decoration: none;
  color: #fff;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 33px;
}

.footer-menu-link {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-menu-item {
  margin-right: 30px;
}

.social {
  font-size: 16px;
}

.footer-label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-info {
  text-align: right;
}

.footer-phone {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 24px;
  margin-bottom: 12px;
}

.footer-bottom {
  background-color: #fff;
}

.footer-description {
  color: #292929;
}

.footer-bottom-content {
  min-height: 140px;
  align-items: center;
}

.footer-callback {
  color: #292929;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .header-contacts {
    text-align: center;
  }
  .hero {
    padding-top: 50px;
  }
  .hero-title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  .hero-description {
    font-size: 16px;
    line-height: 1.6;
  }
  .button {
    padding: 20px 40px;
  }

  .colors {
    max-width: 200px;
    margin: auto;
  }
  .card-label {
    margin: 20px auto;
  }
  .footer-info {
    text-align: left;
  }
}

@media (max-width:576px) {
  .footer-info {
    text-align: left;
  }
  
}
